@import url('https://fonts.googleapis.com/css?family=Montserrat');

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row .content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}


footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #555;
    color: white;	
    padding: 15px;
    position: fixed;
}

.col-sm-3 {
    background-color: #e3e3e3;
}

.mysidenav {
    background-color: #007100;
    color: white;
}

.mysidenav hr {
    border-top: 1px solid #008900;
}

.mysidenav {
    padding-bottom: 40px;
}

.img-center {
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.center-btn {
    margin: 0 auto;
    text-align: center;
}

.playerDet {
    /*background-color: #007100;*/
}

.playerDet hr {
    /*border-top: 1px solid #008900;*/
}

#jugador {
    display: none;
}
#alumnos {
    display: none;
}